
:root {
  margin: 4px;
  background-image: url(/src/mernpics/vegdoddle.jpg);
  align-content: center;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
/*==========================================================*/

/* body {
  margin: 4px;
  background-image: url(/src/mernpics/vegdoddle.jpg);
  align-content: center;
}*/ */

.nav_bar {
  display: flex;
 background-color: #ADF802;
 margin: 0;
 padding: 0
 
}

 li {
  
 margin: 1%;
 list-style: none;
} 

/* .la_cart{
float: right;
} */
/* .the_footer{
  
  margin: 1%;
} */
 .foot_div{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #ADF802;
   
   text-align: center;
} */

 .heroim{
  margin-top: 1%;
  margin-left: 42%;
  align-content: center;
} */

 .img1{
  border-radius: 250px 0;
  height: 250px;
  width: 250px;
} */

* .title {
  border: 3px, solid, #8da210;
  border-left: 0;
  border-right: 0; 
  /* border-radius: 5px; */
   text-align: center;
  font-weight: bolder;
  font-family: Lucida sans-serif;
  
}

.headcol {
  color: #546109;
  background-color: rgb(198, 241, 198);
  border: 2px solid gray;
  width: 30%;
  margin-left: 33%;
  border-radius: 20px;
} 
/* .ulfooter {
border: 5px solid white;
display: flex;
justify-content: center;
margin-top: 31%;
height: 30vh;
} */

/* .ulfooter{
  background-image: url(/src/mernpics/.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */ 